@media all and (max-width: 56.1875em) {
  .navbar {
    /*grid-area: menu; *JM*/
    position:fixed !important;/*JM*/
    top:0 !important; /*JM*/
    right:1.25em !important; /*JM*/
  }
}
.navbar .navbar__menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media all and (max-width: 56.1875em) {
  .navbar .navbar__menu {
    display: none;
  }
}
.test_mainmenu {
  background: rgb(255,255,255,.175);
}
.navbar .navbar__menu li {
  display: block;
  font-family: var(--menu-font);
  font-size: 0.9374999997rem;
  font-variation-settings: "wght" var(--font-weight-bold);
  line-height: var(--line-height);
  /*padding: 0; JM*/
  position: relative;
  white-space: nowrap;
  width: auto;

  padding-left: 0.5rem; /*JM*/
  padding-right: 0.5rem; /*JM*/
  padding-top: 0rem; /*JM*/
  padding-bottom: 0rem; /*JM*/
  background-color: rgb(255,255,255,.3); /*JM*/
  /*border-radius: var(--border-radius); /*JM*/
}
.navbar .navbar__menu li a,
.navbar .navbar__menu li span[aria-haspopup=true] {
  /*color: var(--dark); JM */
  color: var(--nav-link-color); /*JM*/
  display: block;
  padding: 0 0.5rem;
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}
.navbar .navbar__menu li a:active, .navbar .navbar__menu li a:focus, .navbar .navbar__menu li a:hover,
.navbar .navbar__menu li span[aria-haspopup=true]:active,
.navbar .navbar__menu li span[aria-haspopup=true]:focus,
.navbar .navbar__menu li span[aria-haspopup=true]:hover {
  color: var(--color);
}
.navbar .navbar__menu li span {
  /*color: var(--dark); JM */
  color: var(--nav-link-color); /*JM*/
  cursor: default;
  display: block;
  padding: 0 0.5rem;
}
.navbar .navbar__menu > li.active a {
  color: var(--color);
}
.navbar .navbar__menu > li:hover > a, .navbar .navbar__menu > li:hover > span[aria-haspopup=true] {
  color: var(--color);
}
.navbar .has-submenu:active > .navbar__submenu,
.navbar .has-submenu:focus > .navbar__submenu,
.navbar .has-submenu:hover > .navbar__submenu {
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  margin-top: 0.75rem;
}
.navbar .has-submenu:active > .navbar__submenu:before,
.navbar .has-submenu:focus > .navbar__submenu:before,
.navbar .has-submenu:hover > .navbar__submenu:before {
  content: "";
  height: 0.75rem;
  position: absolute;
  width: 100%;
  top: -0.75rem;
}
.navbar .has-submenu:active > .navbar__submenu.is-right-submenu,
.navbar .has-submenu:focus > .navbar__submenu.is-right-submenu,
.navbar .has-submenu:hover > .navbar__submenu.is-right-submenu {
  left: auto;
  right: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.navbar .has-submenu .has-submenu:active > .navbar__submenu,
.navbar .has-submenu .has-submenu:focus > .navbar__submenu,
.navbar .has-submenu .has-submenu:hover > .navbar__submenu {
  top: 0;
  margin-top: 0;
}
.navbar .has-submenu .has-submenu:active > .navbar__submenu.is-right-submenu,
.navbar .has-submenu .has-submenu:focus > .navbar__submenu.is-right-submenu,
.navbar .has-submenu .has-submenu:hover > .navbar__submenu.is-right-submenu {
  top: 0;
  margin-top: 0;
}
.navbar .navbar__submenu {
  background: var(--color);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  left: -9999px;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 0;
  position: absolute;
  text-align: left;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: 0 top;
          transform-origin: 0 top;
  -webkit-transition: opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1), -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar .navbar__submenu__submenu {
  z-index: 2;
}
.navbar .navbar__submenu li {
  line-height: 1.5;
  font-size: 0.8789062495rem;
  text-transform: none;
  background-color: var(--color); /*JM*/
}
.navbar .navbar__submenu li a,
.navbar .navbar__submenu li span[aria-haspopup=true] {
  color: rgba(255, 255, 255, 0.88) !important;
  padding: 0.5rem 1.5rem;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.navbar .navbar__submenu li a:active, .navbar .navbar__submenu li a:focus, .navbar .navbar__submenu li a:hover,
.navbar .navbar__submenu li span[aria-haspopup=true]:active,
.navbar .navbar__submenu li span[aria-haspopup=true]:focus,
.navbar .navbar__submenu li span[aria-haspopup=true]:hover {
  background: rgba(255, 255, 255, 0.05);
  color: var(--white) !important;
}
.navbar .navbar__submenu li span {
  color: rgba(255, 255, 255, 0.88) !important;
  padding: 0.5rem 1.25rem;
}
.navbar .navbar__submenu li:hover > a, .navbar .navbar__submenu li:hover > span[aria-haspopup=true] {
  color: var(--white) !important;
}
.navbar .navbar__toggle {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
  display: block;
  line-height: 1;
  height: 4.5rem;
  margin: 0;
  overflow: visible;
  padding: 1rem 0 1rem 1.5rem;
  text-transform: none;
  z-index: 2004;
}
@media all and (min-width: 37.5em) {
  .navbar .navbar__toggle {
    height: var(--header-height);
  }
}
@media all and (min-width: 56.25em) {
  .navbar .navbar__toggle {
    display: none;
  }
}
.navbar .navbar__toggle:hover, .navbar .navbar__toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transform: none;
          transform: none;
}
.navbar .navbar__toggle-box {
  width: 24px;
  height: 14px;
  display: inline-block;
  position: relative;
}
.navbar .navbar__toggle-inner {
  display: block;
  top: 50%;
  text-indent: -9999999em;
}
.navbar .navbar__toggle-inner::before {
  content: "";
  display: block;
  top: -6px;
}
.navbar .navbar__toggle-inner::after {
  content: "";
  display: block;
  bottom: -6px;
}
.navbar .navbar__toggle-inner, .navbar .navbar__toggle-inner::before, .navbar .navbar__toggle-inner::after {
  width: 22px;
  height: 2px;
  /*background-color: var(--dark); JM */
  background-color: var(--nav-link-color);
  position: absolute;
  -webkit-transition: opacity 0.14s ease-out, -webkit-transform;
  transition: opacity 0.14s ease-out, -webkit-transform;
  transition: transform, opacity 0.14s ease-out;
  transition: transform, opacity 0.14s ease-out, -webkit-transform;
}


.navbar .navbar__toggle-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.navbar .navbar__toggle-inner::before {
  -webkit-transition: top 0.075s ease 0.12s, opacity 0.075s ease;
  transition: top 0.075s ease 0.12s, opacity 0.075s ease;
}
.navbar .navbar__toggle-inner::after {
  -webkit-transition: bottom 0.075s ease 0.12s, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s ease 0.12s, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s ease 0.12s, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s ease 0.12s, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s ease 0.12s;
  transition: top 0.075s ease, opacity 0.075s ease 0.12s;
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.075s ease, -webkit-transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.075s ease, transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.075s ease, transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.navbar_mobile_overlay {
  background: var(--white);
  height: calc(100vh - 4.5rem);
  left: 0;
  opacity: 1;
  overflow: auto;
  pointer-events: auto;
  position: relative;
  top: 4.5rem;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 100%;
  z-index: 998;
}
@media all and (min-width: 37.5em) {
  .navbar_mobile_overlay {
    height: calc(100vh - var(--header-height));
    top: var(--header-height);
  }
}
.navbar_mobile_overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.navbar_mobile_overlay .navbar__menu {
  margin: 24px;
}
.navbar_mobile_overlay .navbar__menu li {
  font-family: var(--menu-font);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar_mobile_overlay .navbar__menu li a,
.navbar_mobile_overlay .navbar__menu li .is-separator {
  /*color: var(--dark); JM */
  /*color: var(--nav-link-color); /*JM*/
  color: var(--dark); /*JM*/
  display: block;
  padding: 10px 20px 10px 0;
  position: relative;
}
.navbar_mobile_overlay .navbar__menu li a:active, .navbar_mobile_overlay .navbar__menu li a:focus, .navbar_mobile_overlay .navbar__menu li a:hover,
.navbar_mobile_overlay .navbar__menu li .is-separator:active,
.navbar_mobile_overlay .navbar__menu li .is-separator:focus,
.navbar_mobile_overlay .navbar__menu li .is-separator:hover {
  /*color: var(--dark); JM */
  /*color: var(--nav-link-color); /*JM*/
  color: var(--dark); /*JM*/
}
.navbar_mobile_overlay .navbar__menu li a[aria-haspopup=true]::after,
.navbar_mobile_overlay .navbar__menu li .is-separator[aria-haspopup=true]::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  /* border-color: var(--gray-1) transparent transparent transparent; JM*/
  border-color: var(--dark) transparent transparent transparent; /* JM */
  left: 0.5rem; 
  top: 14px;
  position: relative;
}

.navbar_mobile_overlay .navbar__submenu {
  margin: 0;
  padding: 0;
  visibility: hidden;
}
.navbar_mobile_overlay .navbar__submenu[aria-hidden=false] {
  visibility: visible;
}
.navbar_mobile_overlay .navbar__submenu_wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar_mobile_overlay .navbar__submenu_wrapper.is-active {
  height: auto;
  opacity: 1;
}

.navbar_mobile_sidebar {
  background: var(--white);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  height: 100vh;
  left: 0;
  max-width: 400px;
  overflow: auto;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 80%;
  z-index: 1000;
}
.navbar_mobile_sidebar.is-hidden {
  left: -400px;
}
.navbar_mobile_sidebar .navbar__menu {
  margin: 24px;
}
.navbar_mobile_sidebar .navbar__menu li {
  font-family: var(--menu-font);
  font-size: 16px;
  list-style: none;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
.navbar_mobile_sidebar .navbar__menu li a,
.navbar_mobile_sidebar .navbar__menu li .is-separator {
  /*color: var(--dark); JM */
  /*color: var(--nav-link-color); /*JM*/
  color: var(--dark); /*JM*/
  display: block;
  padding: 10px 20px 10px 0;
  position: relative;
}
.navbar_mobile_sidebar .navbar__menu li a:active, .navbar_mobile_sidebar .navbar__menu li a:focus, .navbar_mobile_sidebar .navbar__menu li a:hover,
.navbar_mobile_sidebar .navbar__menu li .is-separator:active,
.navbar_mobile_sidebar .navbar__menu li .is-separator:focus,
.navbar_mobile_sidebar .navbar__menu li .is-separator:hover {
  /*color: var(--dark); JM */
  /*color: var(--nav-link-color); /*JM*/
  color: var(--dark); /*JM*/
}
.navbar_mobile_sidebar .navbar__menu li a[aria-haspopup=true]::after,
.navbar_mobile_sidebar .navbar__menu li .is-separator[aria-haspopup=true]::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  /* border-color: var(--gray-1) transparent transparent transparent; JM */
  border-color: var(--dark) transparent transparent transparent; /* JM */
  right: 0;
  top: 18px;
  position: absolute;
}
.navbar_mobile_sidebar .navbar__submenu {
  margin: 0 0 0 24px;
  padding: 0;
  visibility: hidden;
}
.navbar_mobile_sidebar .navbar__submenu[aria-hidden=false] {
  visibility: visible;
}
.navbar_mobile_sidebar .navbar__submenu_wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar_mobile_sidebar .navbar__submenu_wrapper.is-active {
  height: auto;
  opacity: 1;
}
.navbar_mobile_sidebar__overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 100%;
  z-index: 10;
}
.navbar_mobile_sidebar__overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}
